
.aboutMe {
    background-color: #A1A5D7;
    color: #325E43;
    font-family: 'Anton', sans-serif;
}
.list {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #325E43;
    background: white;
}

.wrapper {
    width: 90%;
    margin: auto;
}

.navbar {
    width: 120%;
    transform: translateX(-20px);
    height: 100px;
    background: url(./pladPattern.svg);
    box-shadow: 5px 5px 10px #325E43;
}

.iconSection {
    display: flex;
}

.iconSection h1 {
    position: relative;
    top: 10px;
}

.icon {
    position: relative;
    height: 90px;
    margin: 5px 10px 0 30px;
    border-radius: 50%;
    border: 2px solid #325E43;
    z-index: 2;
}

.jumbotron {
    max-height: 300px;
    overflow: hidden;
    margin-top: 30px;
}

.container {
    display: flex;
    width: 90%;
    margin: auto;
}

.thumbnail  {
    width: 350px;
    height: 200px;
    margin: 30px;
    
}

.thumbnail img {
    position: relative;
    width: 350px;
    height: 200px;
}